<p>LA LISTA DE PROYECTOS</p>


<div>
  <div class="project" *ngFor="let project of projects">
    <a [routerLink]="['/project',project._id]">
      <p>{{project._id}}</p>
      <img [src]="project.image" width=100/>
    </a>
    <h3> {{ project.projectName }} </h3>
    <p> {{ project.user }} </p>
  </div>
</div>

<p>LA LISTA DE PROYECTOS FINANCIADOS POR SR PATATA</p>

<div>
    <div class="project" *ngFor="let p of projectsFinanced">
      <a [routerLink]="['/p',p._id]">
        <p>{{p._id}}</p>
        <img [src]="p.image" width=100/>
      </a>
      <h3> {{ p.projectName }} </h3>
      <p> {{ p.user }} </p>
    </div>
  </div>

  <p>LA LISTA DE PROYECTOS CREADOS POR SR PATATA</p>

<div>
    <div class="project" *ngFor="let p of projectsCreated">
      <a [routerLink]="['/p',p._id]">
        <p>{{p._id}}</p>
        <img [src]="p.image" width=100/>
      </a>
      <h3> {{ p.projectName }} </h3>
      <p> {{ p.user }} </p>
    </div>
  </div>