<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img class="logo" src="http://res.cloudinary.com/dhyvlahgj/image/upload/v1526495923/Screen_Shot_2018-05-16_at_20.37.51.png"
      alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    <h6>{{sessionService.user.name}}</h6>
    <button class="out" (click)="sessionService.logout().subscribe()"> Logout </button>
    <img class="logo-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
  </div>
</nav>
<div class="webFund">
  <h4>IronFunding</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="project" *ngFor="let project of projects">
            <div class="col-">
              <div class="card cardTop">
                <a [routerLink]="['/project',project._id]">
                  <img class="card-img-top" [src]="project.image" height="400" />
                </a>
                <div class="card-body">
                  <h5 class="card-text"> {{ project.projectName }}</h5>
                  <h6 class="card-text">
                    {{ project.description }}
                  </h6>
                  <p class="card-text"> Este proyecto ha recaudado hasta el momento {{project.financed}} IronTokens </p>
                  <li *ngFor="let p of project.author">
                    {{ p.name }}
                  </li>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col">
      <div class="dere">
        <div class="balance">
          <div class="col-md-6 dereCol">
            <iframe #iframe src="http://localhost:3000" frameborder="0" id="myIframe"></iframe>
          </div>
        </div>
        <div>
          <p>Proyectos <u>financiados</u> por {{sessionService.user.name}}:</p>
          <div class="project-p" *ngFor="let p of projectsFinanced">
            <a class="in" [routerLink]="['/p',p._id]">
              <img [src]="p.image" width=90/>
            </a>
            <h4 class="in"> {{ p.projectName }} </h4>
          </div>
        </div>
        <div>
          <p>Proyectos <u>creados</u> por {{sessionService.user.name}}:</p>
          <div class="project-p" *ngFor="let p of projectsCreated">
            <a class="in"[routerLink]="['/p',p._id]">
              <img [src]="p.image" width=90/>
            </a>
            <h4 class="in"> {{ p.projectName }} </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>