<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <links>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <div *ngIf="!sessionService.user">
                    <app-login-form></app-login-form>
                  </div>
            </li>
            <li class="nav-item">
                <button class = "nav-link waves-light" (click)="sessionService.logout().subscribe()"> Logout </button>
            </li>
        </ul>
    </links>
</mdb-navbar>

<div *ngIf="!sessionService.user">
  <app-login-form></app-login-form>
</div>

<div *ngIf="sessionService.user">
  <h2>BIENVENIDO SR PATATA</h2>
  <img src="https://ssli.ebayimg.com/images/g/gwcAAOSws6ha0iT~/s-l640.jpg" alt="" width="100px">
 
  <router-outlet></router-outlet>
  <button (click)="sessionService.logout().subscribe()"> Logout </button>
</div>
