<div class="loginWeb">
  <div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="https://techsalesgroup.files.wordpress.com/2016/10/ironhack-logo-negro1.jpg" />
       <h2 style="color:aliceblue">Student Platform</h2>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input class="form-control" type="text" [(ngModel)]="email" name="email"/>
            <input class="form-control" type="password" [(ngModel)]="password" name="password"/>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
              <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()"> happy coding </button>
          </form>
          <a href="#" class="forgot-password">
              Forgot the password?
          </a>
          <p class="error"> {{ error }} </p>
        
    </div>  
  </div>
  </div>
